.nav-pills {
    & .nav-link {
        background-color: transparent;
        font-size: 1rem;
        padding: 0 1rem;
        line-height: calc(3rem - 3px);

        &.active {
            border-bottom: 3px solid #333;
            color: #403549;
            background-color: transparent;
            border-radius: 0;
        }
    }

    &.it-pill-bar {
        height: 3rem;
        padding: 0;
        background-color: #eee;
        border-radius: 0;
        margin-left: -3rem;
        margin-right: -3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
